*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #191919;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 10vh;
    color: #F8F8F8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;

}

.logo{
    font-size: 2.4rem;
    font-weight: bold;
}

.search-bar{
    border-radius: 20px;
    border: none;
    padding: 1rem;
    flex: 0.7;
    transition: all 0.3s ease;
}

.search-bar:hover{
    box-shadow: 0 0 10px 0.1px #F8F8F8;
}


.user-links{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.user-links a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    opacity: 0.8;
    transition: 0.3s ease;
}

.user-links a:nth-child(1):hover{
    color: #2C5DFF;
}

.user-links a:nth-child(2):hover{
    color: #E700E7;
}

.user-links a:nth-child(3):hover{
    color: #FCE700;
}





















.slider{
    display: flex;
  }
  
  
  
  .slider-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    font-size: rem;
    background-color: #242424;
    transition: 0.3s ease;
  }
  
  
  body {
    overflow-x: hidden;
  
  }
  
  
  
  
  .slider-content[data-status="unknown"] {
    transform: translateX(100%);
  }
  
  
  .slider-content[data-status="active"] {
    transform: translateX(0%);
    
    
  }
  
  .slider-content[data-status="next"] {
    animation: show 1s forwards;
    
  }
  
  .slider-content[data-status="hide"] {
    animation: hide 1s forwards;
    
  }
  
  
  @keyframes show{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0%);
    }
    
  }
  
  
  @keyframes hide{
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-100%);
    }
    200%{
      transform: translateX(100%);
    }
  }
  
  
  
  
  
  
  .slider-content:nth-child(1){
    color: #f1f1f1;
    position: absolute;
  
  }
  
  .slider-content:nth-child(2){
    color: #fff;
    position: absolute;
  }
  
  .slider-content:nth-child(3){
    color: #fff;
    position: absolute;
  }
  
  .slider-content:nth-child(4){
    color: #fff;
  }
  
  
  
  




.uibuttons{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.uibuttons button{
    color: white ;
    background-color: #363636;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s ease;
}


.uibuttons button:hover{
    background-color: #cc00cc;
    box-shadow: 0 0 10px 0.1px #ff12d8;
    color: rgb(247, 247, 247);
}

.slider-content:hover{
    background-color: #2522df;
}