@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

body{
    background-color: #ececec;
    font-family: 'Source Sans 3', sans-serif;

}


header{
    background-color: rgb(245, 245, 245);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.user-navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;

}

.logo{
    font-size: 2rem;
    font-weight: 1000;
}

.search-bar{
    display: flex;
    flex:0.8

}

.user-links{
    display: flex;
    gap: 1rem;
}

.user-links a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.user-links a:hover{
    color: rgb(100, 100, 100);
}

.brands{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1em;

}

.brands img{
    border-radius: 8px;
    width: 100px;
    height: 100px;
}


.shopping-navbar{
    width: 100%;
    background-color: black;
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.7);
}

.shopping-navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.shopping-navbar ul li{
    margin: 0 1rem;
}

.shopping-navbar ul li a{
    text-decoration: none;
    color: rgb(230, 230, 230);
}

main{
    display: flex;
    flex-direction: column;
}


.slider {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    background-color: #1a1a1a;
    animation: fadeOut 0.5s forwards;
    color: white;
  }
  
  .slider-index{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 8rem;
    font-style: italic;
    font-weight: 1000;
  }
  
  .slider-text{
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
    h1{
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1.2rem;
    }
    slider-buttons{
      display: flex;
      justify-content: center;
    }
  }
  
  .slider-buttons #buy{
    background-color: #eeeeee;
    color: rgb(14, 14, 14);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .slider-buttons #cart{
    background-color: #1f1f1f;
    color: rgb(243, 243, 243);
    border: white 1px solid;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
  }
  
  .slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide[data-status="active"] {
    display: flex;
    animation: fadeIn 0.8s forwards;
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  
  
  .uibuttons{
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
  }
  .uibuttons button {
    margin: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: #1a1a1a;
    border: none;
  
    &:hover{
      background-color: #2a2a2a;
    }
  }
  



.categories-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.discount-box{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.7);
}

.discount-container{
    display: flex;
}

.discount-box h1{
    color: rgb(29, 29, 29);
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    text-align: left;
    padding: 0.5rem;
    font-size: 4rem;
    font-weight: 1000;
    font-style: italic;
}
.discount-item{
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.discount-item #index{
    font-size: 2rem;
    font-weight: 800;
    font-style: oblique;
    text-align: left;
}

.discount-item .text{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}

.discount-item #category{
    font-size: 1rem;
}

.discount-item #discount{
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
}

.discount-item #name, #ogprice, #disprice,#description{
    display: none;
}

.discount-item img{
    border-radius: 8px;
    width: 100%;
    flex:1;   
}





footer{
    display: flex;
    flex-direction: column;

}

.footer-logo{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 8rem;
    font-weight: 1000;
    font-stretch: expanded;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1rem;
}




